@font-face {
  font-family: "metropolis";
  src: url(./assets/Metropolis1920-Regular.ttf);
}

@font-face {
  font-family: "limelight";
  src: url(./assets/Limelight-Regular.ttf);
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #c28c19,
      0 0 80px #c28c19, 0 0 90px #c28c19, 0 0 100px #c28c19, 0 0 150px #c28c19;
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: limelight;
  background-image: url(./assets/art-deco-background.webp);
}

.presentation {
  background-color: white;
  opacity: 0.4;
  line-height: 2rem;
  margin: 1.5rem;
  padding: 0.5rem;
  border-radius: 20px;
}

.category {
  text-align: center;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: bolder;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
  max-width: 280px;
  background: linear-gradient(
    to bottom,
    #cfc09f 12%,
    #634f2c 14%,
    #cfc09f 23%,
    #cfc09f 27%,
    #ffecb3 45%,
    #3a2c0f 78%
  );
  color: black;
  font-family: "limelight", "Playfair Display", serif;
  text-decoration: none;
}

.category:hover {
  background: linear-gradient(
    to top,
    #cfc09f 12%,
    #634f2c 14%,
    #cfc09f 23%,
    #cfc09f 27%,
    #ffecb3 45%,
    #3a2c0f 78%
  );
}

.welcome {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.category-list {
  list-style-type: none;
  align-self: stretch;
}

.category-item {
  width: 100%;
  margin-bottom: 2rem;
}

.timerPoints {
  display: flex;
  justify-content: space-around;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  background: linear-gradient(
    to bottom,
    #cfc09f 22%,
    #634f2c 24%,
    #cfc09f 26%,
    #cfc09f 27%,
    #ffecb3 40%,
    #3a2c0f 78%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: metropolis;
  font-weight: 300;
  background: linear-gradient(
    to bottom,
    #cfc09f 22%,
    #634f2c 24%,
    #cfc09f 26%,
    #cfc09f 27%,
    #ffecb3 40%,
    #3a2c0f 78%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
}

.infos {
  text-align: center;
  background-color: linear-gradient(
    to bottom,
    #cfc09f 12%,
    #634f2c 14%,
    #cfc09f 23%,
    #cfc09f 27%,
    #ffecb3 45%,
    #3a2c0f 78%
  );
  font-family: "limelight", "Playfair Display", serif;
  font-weight: 900;
  font-size: 2rem;
}

.central {
  padding-right: 3rem;
}

.centralPoster {
  padding: 0.5rem;
  text-align: center;
}

@keyframes image_blur {
  0% {
    filter: blur(20px);
  }
  100% {
    filter: blur(0px);
  }
}

.no-blur {
  animation: image_blur ease-in 15s;
}

.blur, .no-blur{
  box-sizing: border-box;
  width: auto;
  height: 100%;
  object-fit: contain;
}

.play {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}

.desktop-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    90deg,
    black 5%,
    rgb(83, 83, 83) 15%,
    black 20%,
    rgb(83, 83, 83) 25%,
    black 30%,
    rgb(83, 83, 83) 90%,
    black 94%
  );
  width: 340px;
  padding: 0.5rem;
  box-shadow: 0 0 20px darkgrey;
  border-radius: 1%;
  margin: auto;
}

.answers {
  margin: auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: stretch;
  padding: 1rem;
}

.answer {
  text-align: center;
  background: linear-gradient(
    to bottom,
    #cfc09f 12%,
    #634f2c 14%,
    #cfc09f 23%,
    #cfc09f 27%,
    #ffecb3 45%,
    #3a2c0f 78%
  );
  color: black;
  font-family: "limelight", "Playfair Display", serif;
  position: relative;
  font-size: 18vw;
  font-weight: 900;
  padding: 1rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #c28c19, inset 0px 0px 5px #c28c19;
}

.answer:hover {
  box-shadow: 0px 0px 20px #c28c19, inset 0px 0px 20px #c28c19;
}

.good-answer {
  box-shadow: 0px 0px 20px limegreen, inset 0px 0px 20px limegreen;
}

.good-answer:hover {
  box-shadow: 0px 0px 20px limegreen, inset 0px 0px 20px limegreen;
}

.wrong-answer {
  box-shadow: 0px 0px 20px red, inset 0px 0px 20px red;
}

.wrong-answer:hover {
  box-shadow: 0px 0px 20px red, inset 0px 0px 20px red;
}

.now-showing {
  border: none;
  font-family: limelight;
  font-size: 1.1rem;
  background-color: white;
  color: #222f42;
  padding: .3rem 5rem;
  box-shadow: inset 0px 0px 5px darkslategray;
}

.next {
  animation: flicker 1.5s infinite alternate;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 150px;
  text-align: center;
  background: linear-gradient(
    to bottom,
    #cfc09f 1%,
    #634f2c 7%,
    #cfc09f 23%,
    #cfc09f 27%,
    #ffecb3 65%,
    #3a2c0f 93%
  );
  color: black;
  font-family: "limelight", "Playfair Display", serif;
  position: relative;
  font-size: 18vw;
  font-weight: 900;
  padding: 1rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 20px;
}

.modal > a {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .answers {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 40%;
    justify-content: center;
  }

  .desktop-flex {
    flex-direction: row;
    justify-content: space-around;
  }

  .centralPoster {
    flex: none;
    padding: 1rem;
    min-width: 40%;
  }

  .frame{
    margin: 0;
  }
}
