@font-face {
    font-family: "metropolis";
    src: url(./assets/Metropolis1920-Regular.ttf);
}

@font-face {
    font-family: "limelight";
    src: url(./assets/Limelight-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: limelight;
    background-color: #222F42;
}

.App {
    background-color: #222F42;
    color: wheat;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.timerPoints {
    display: flex;
    justify-content: space-around;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: metropolis;
    font-weight: 300;
    color : wheat;
    text-shadow: 0px 0px 20px orange;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.centralPoster {
    flex: 1;
    padding: 1rem;
    text-align: center;
}

.blur {
    box-sizing: border-box;
    width: auto;
    height: 100%;
    object-fit: contain;
    filter: blur(10px);
}

.no-blur{
    filter: blur(0px);
    transition: all 15s linear;
    box-sizing: border-box;
    width: auto;
    height: 100%;
    object-fit: contain;
}

.answers {
    margin: auto;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: stretch;
    padding: 1rem;
}

.answer {
    text-align: center;
    background-color: #C28C19;
    color: white;
    padding: 1rem;
    font-family: limelight;
    border : none;
    border-radius: 10px;
}

.answer:hover{
    box-shadow: 0px 0px 5px #C28C19;
    
}

.good-answer{
    background-color:darkgreen;
}

.wrong-answer{
    background-color: darkred;
}
